* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: rgba(13, 26, 45, 255);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}
.box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}
.box-parent {
  width: 23.5rem;
  height: 35.5rem;
  background-color: rgba(12, 25, 44, 255);
  border-radius: 3rem;
}
.box-child1 {
  width: 20rem;
  height: 32rem;
  background-color: rgba(12, 23, 41, 255);
  border-radius: 2rem;
  position: relative;
  top: 0;
  left: 0;
}
.box-child2 {
  width: 18rem;
  height: 30rem;
  background-color: hsl(216, 50%, 16%);
  border-radius: 1rem;
  position: absolute;
  top: -0.5rem;
  left: 1rem;
}
.ether {
  width: 85%;
  height: auto;
  border-radius: 1rem;
}
.eth-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -12rem;
  position: absolute;
}
.head-content {
  width: 20rem;
  font-weight: 400;
  font-size: 20px;
  margin-left: 0;
  padding-top: 1.2rem;
  color: hsl(0, 0%, 100%);
  padding-left: 1rem;
}
